.User {
  display: flex;
  border-bottom: 1px solid #EAEAEA;
  padding: 2px 0;
}

.UserLink {
  padding: 0 10px;
  flex: 1;
  display: grid;
  grid-template: 1fr / 57px 1fr;
  align-items: center;
  height: 68px;
  width: 100%;
}
.UserLink.active {
  background: #E4EDFD;
}
.ava {
  background: #EFEFEF;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}
.data {
  grid-gap: 1px;
  display: grid;
  grid-template: 1fr 1fr 20px / 10fr 1fr;
}
.name {
  color: #1E1E1E;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  grid-row: 1;
}
.last-message {
  color: #999999;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  grid-row: 2;
}
.last-message-time{
  text-align: right;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  color: #999999;
}
.new-message-count{
  margin: 0 0 0 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #fff;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: #3369F3;
  grid-row: 3;
  grid-column: 2;
}