.header {
  display: grid;
  grid-template: 55px / 44px 1fr 26px;
  align-items: center;
  border-bottom: 1px solid #EAEAEA;
}
.ava {
  width: 34px;
  height: 34px;
  background: #EFEFEF;
  border-radius: 50%;
}
.name {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 13px;
  color: #1E1E1E;
  height: 13px;
  width: 193px;
}
.more {
  text-align: end;
}